.scrollspy {
  position: fixed;
  right: -220px;
  top: 100px;
  width: 220px;
  font-size: 14px;
  text-align: left;
}
.scrollspy button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}
.scrollspy a:link,
.scrollspy a:visited,
.scrollspy a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 1rem 1rem;
}
.scrollspy button > img {
  transform: rotate(180deg);
}
.scrollspy button.hidden1>img {
  transform: rotate(0deg);
}
.scrollspy .title {
  margin: 0;
  display: flex;
  padding: 1rem;

  justify-content: space-between;
}
.scrollspy ul {
  margin: 0;
  padding-left: 0;
  font-weight: 600;
  max-height: 500px;
  transition: 0.3s ease;

  overflow: hidden;
}
.scrollspy ul.hidden1 {
  max-height: 0px;
  opacity: 0;
}
.scrollspy li {
  border-top: var(--border-param);

  list-style: none;
}
.scrollspy li:nth-child(1) {
  border-top: none;
}
.scrollspy li.active,
.scrollspy li:hover.active {
  background-color: var(--full-front);
  color: var(--bg-rich);
}
.scrollspy li:hover {
  background-color: var(--bg-rich);
}
@media (max-width:1500px) {
      .scrollspy{
            display: none;
      }
}