.offer {
  padding: 50px 50px;
  position: relative;
  --keyCol: rgb(170, 111, 22);
}
.offer h2 {
  margin-bottom: 50px;
}
.offer .options {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.offer .option1 {
  border: var(--border-param);
  background-color: var(--bg);
  width: 400px;
}
.offer .options h3 {
  width: 100%;
  line-height: 40px;
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 0;
}
.offer .option2 {

  position: relative;
  border: 1px solid var(--text-h);
  width: 500px;
}
.offer .option2::after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  content: "";
  height: 100%;
  box-shadow: 0px 10px 30px var(--text-h);
  opacity: 0.1;
  pointer-events: none;
}
.offer .option {
  padding: 1.5rem;
  /* height: 600px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.offer .option-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 250px; */
  flex:1;
}
.offer .option2 .populartag {
  position: absolute;
  top: -40px;
  left:0;
  /* left: calc(50% - 50px); */
  width: 100%;
  text-transform: uppercase;
  color: var(--accent2);
  font-weight: 600;
}
.offer .option2 h3 {
  color: var(--bg-rich);
  background-color: var(--text-h);
}
.offer ul {
  text-align: left;
  margin: 0;
  flex: 1;
  padding: 1rem;
  font-size: 14px;
}
.offer li {
  margin: 0;
  margin-top: 0.5rem;
}
.offer .option .slider {
  width: 90%;
}
.offer input[type="range"] {
  width: 100%;
  margin: auto;
}
.offer .option .price {
  font-size: 35px;
  text-align: right;
  font-style: 300;
  margin: 0;
}
.offer .option .footer{
  height: 200px;
}
.offer .option .footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.offer .option .footer li{
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  
}
.offer .option .pricetag {
  font-weight: 700;
  font-size: 12px;
  /* text-transform: uppercase; */
  text-align: right;
  margin-top: 0;
}
.offer .option .priceline {
  
  gap: 10px;
  align-items: end;
  /* padding: 1rem 0rem; */
}
.offer .option .price{
  margin-bottom: 0;
  margin-top: 0;
}
.offer .option .divider{
  width: 90%;
  margin: auto;
  border-top: var(--border-param);
  margin-top: 10px;
  margin-bottom: 30px;
}
.offer a, .offer *:link{
  text-decoration: none;
}
.offer .option .cte{
  /* width: fit-content; */
  /* width: 100%; */
  font-weight: 700;
  cursor: pointer;
  padding: 1rem 1rem;
  background-color: var(--accent3);
  color: white;
}
.offer .icon1{
  color: rgb(209, 109, 237);
    color: var(--keyCol);
}
.offer .icon2{
   color: var(--keyCol);
}
.offer .icon3{
  color: rgb(45, 110, 241);
      color: var(--keyCol);
}
.offer .icon4{
  color: rgb(125, 195, 27);
     color: var(--keyCol);
}
.offer .icon5{
  color: rgb(125, 195, 27);
     color: var(--keyCol);
}
.offer .disclaim {
  font-size: 13px;
  font-weight: 600;
  margin-top: 30px;
}
.offer .footer .owner{
   color: var(--keyCol);
  font-weight: 600;
}
.offer .deliverytime{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  font-size: 13px;
  font-weight: 700;
}
.offer .deliverytime svg{
  filter: var(--filter);
}
@media (prefers-color-scheme: dark) {
  .offer{
     --keyCol: rgb(234, 156, 40);
  }
}
@media (max-width: 1000px) {
  .offer{
    padding: 1rem;
  }
  .offer .options{
    flex-direction: column;
    align-items: stretch;
  }
  .offer .option2{
    width: auto;
  }
  .offer .option1{
    width: auto;
  }
}