.aboutme {
  padding: 5rem 20px;
  border-bottom: var(--border-param);
  position: relative;
}
.aboutme::before {
  content: "";
  background-image: url("svg/cross.svg");
  position: absolute;
  width: 36px;
  height: 36px;
  left: -18px;
  bottom: -18px;
}
.aboutme h2 {
  text-align: center;
  margin-bottom: 60px;
}
.aboutme .top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  height: auto;
  text-align: left;
}
.aboutme .img-wrapper {
  background-color: blanchedalmond;
  overflow: hidden;
  border-radius: 1rem;max-height: 350px;
}
.aboutme .img-wrapper img {
  width: 100%;
  height: auto;
 
}
.top .content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content .title {
  font-weight: 400;
  text-align: left;
  margin-bottom: 1rem;
}
.content .hr {
  border-bottom: var(--border-param);
  border-top: none;
  width: 100%;
  margin-bottom: 1rem;
}
.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
.bottom .about-card {
  outline: var(--border-param);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px;
  transition-duration: 0.4s;
}
.bottom .about-card .title {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-h);
  margin: 1rem 0 0 0;
}

.bottom .about-card p {
  color: var(--text);
  flex: 1;
  padding: 1rem;
  font-size: 14px;
}
.bottom .about-card:hover  {
  background-color: var(--bg-rich);
  /* color: var(--bg); */
  transition-duration: 0.4s;
}
.bottom .about-card:hover img{
  transition-duration: 0.3s;
  transform: scale(1.1);
}
.bottom .about-card img {
  filter: invert(1);
  width: 40px;
  flex-basis: 1;
  margin: 1rem 0 0.5rem 0;
}

.factura {
  font-weight: 800;
  display: flex;
  align-items: center;
  margin-top: auto;

  gap: 0.7rem;
  color: var(--text-h);
}
.factura img {
  width: 25px;
}
@media (max-width: 1000px) {
  .aboutme .top {
    grid-template-columns: 1fr;
  }
  .bottom {
    grid-template-columns: 1fr 1fr;
  }
  .bottom .about-card p {
    color: var(--text);
    flex: 1;
  }
}
@media (max-width: 400px) {
  .bottom {
    grid-template-columns: 1fr;
  }
}
