.cases {
  margin: auto;
  padding: 5rem 0rem;
  border-bottom: var(--border-param);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cases::after {
  content: "";
  background-image: url("svg/cross.svg");
  position: absolute;
  width: 36px;
  height: 36px;
  top: -18px;
  left: -18px;
}
.cases::before {
  content: "";
  background-image: url("svg/cross.svg");
  position: absolute;
  width: 36px;
  height: 36px;
  right: -18px;
  bottom: -18px;
}

.cases-project {
  margin-bottom: -70px;
  display: grid;
  padding: 2rem 0rem;
  max-width: 1000px;
  grid-template-columns: 5px 1fr 1fr;
  gap: 20px;
  text-align: left;
  margin: auto;
}
.cases-project-leftcol {
  /* outline: var(--border-param); */
  /* border-left: var(--border-param); */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
.cases-project .title {
  font-weight: 400;
  text-align: left;
}
.cases-project hr {
  border-bottom: var(--border-param);
  border-top: none;
  width: 100%;
  /* margin-left: -1rem; */
}
.cases-project-rightcol {
  max-width: 400px;
  width: 400px;
  margin: auto;
}
.cases-project-leftcol .subtitle {
  font-size: 16px;
  font-weight: 600;
  color: var(--full-front);
  margin-bottom: 0.5rem;
}
.cases-project-leftcol > .footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cases-project-leftcol > .footer h4 {
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 0px;
  font-weight: 400;
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
  will-change: opacity, transform;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}

.show-more-btn {
  padding: 1rem 2rem;
  background-color: white;
  font-size: 16px;
  margin-top: 20px;
  color: var(--text);
  font-weight: 600;
  border: 2px solid black;
}

@media (max-width: 1000px) {
  .cases-project {
    grid-template-columns: 1fr;
    max-width: 100%;
    gap: 0;
    align-items: center;
  }
  .vertical-roadmap {
    display: none;
  }
  .cases::after,
  .cases::before {
    display: none;
  }
  .cases-project-leftcol > p {
    font-size: 1rem;
  }
  .cases-project .right {
    max-width: 100%px;
  }
}
@media (max-width: 400px) {
  .cases-project-leftcol > .footer {
    flex-direction: column;
  }
}
