footer {
  width: 100%;
  background-color: var(--footer-bg);
  display: flex;
  justify-content: center;
  padding: 3rem 1rem 1rem 1rem;
  color: var(--footer-text);
  font-size: 14px;
  flex-direction: column;
  overflow: auto;
  z-index: 9;
  outline: 1px solid var(--footer-bg);
}
footer .content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  max-width: 600px;
  width: 600px;
  margin: auto;
  text-align: left;
  margin-bottom: 2rem;
}
.footer-column {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  list-style-type: none;
}

.footer-column a {
  text-decoration: none;
  display: block;
  padding: 0.7rem 1rem;
}
.footer-column a:link,
.footer-column a:visited {
  color: var(--footer-text);
}
.footer-column > * {
  border-radius: 1px;
}
.footer-title {
  margin: 0;
  padding: 0.7rem 1rem;
  font-weight: 800;
}

.footer-column a:hover {
  background-color: var(--bg);
  transition-duration: 0.3s;
}
footer .rights {
  font-size: 12px;
}

.footer-column.contact > li {
  padding: 0.7rem 1rem;
}

footer .privacy:link,
footer .privacy:visited {
  margin-bottom: 1rem;
   color: var(--footer-text);
}
footer hr{
  width: 100%;
  opacity: 0.5;
  margin: 1rem 0 3rem 0;
  border: none;
  border-bottom: 1px solid var(--bg);
}
@media (max-width: 1000px) 
{
  footer .content {
    flex-direction: column;
     width: 100%;
     gap: 0;
  }
  footer {
    padding: 1rem;
    font-size: 14px;
  }
  .footer-column{
    padding: 0;
  }
}