.header {
  padding: 20px;

  display: flex;
  justify-content: stretch;
  width: calc(65% - 3px);
  margin: auto;
  position: fixed;
  background: linear-gradient(0deg,var(--bg-a) 0%, var(--bg) 100%);
  border-bottom: var(--border-param);
  backdrop-filter: blur(10px);
  z-index: 100;
}

.header-inner {
  width: 100%;
  /* max-width: 1000px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.lang-btn {
  background: none;
  border: 1px solid #000000;
  padding: 14px 14px;
  width: 50px;
  color: var(--text);
  font-weight: 800;
  border-radius: 1px;
  cursor: pointer;
}

.small {
  padding: 12px 24px;
  
}
@media (max-width: 800px) {
  .header{
    width: 100%;
    padding: 0.5rem;
  }
}