.vertical-roadmap
{
      width: 1px;
      border-left: 1px solid black;
      position: relative;;
}
.roadmap-dot{
      position: absolute;
      width: 12px;
      height: 12px;
      background-color: black;
      border-radius: 50%;
      left:-7px
}