/* -----------------USLUGI----------------- */
.uslugi {
  width: 100%;
  background-color: var(--bg);
  padding-top: 50px;
  padding-bottom: 60px;
  /* height: 600px; */
}

.uslugi .wrapper {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin: auto;
  padding: 2rem;
  margin-top: 40px;
  gap: 1rem;

  /* grid-template-columns: repeat(5, 1fr); */
}
.uslugi .item:hover {
  box-shadow: var(--shadow2);
}
.uslugi .item {
  box-shadow: var(--shadow1);
  display: flex;
  flex-direction: column;
  /* width: 250px; */
  align-items: center;
  background-color: var(--bg-light);
  border-radius: var(--radius);

  /* flex-grow: 1; */
  transition-duration: 300ms;
  overflow: hidden;
  flex: 1;
  position: relative;
  text-align: center;
}
.uslugi .item .top {
  overflow: hidden;
  width: 100%;
}

.uslugi .item p {
  padding: 0 20px;
}
.uslugi .item .top img {
  width: 100%;
  object-fit: cover;
}
.uslugi .item .iconwrapper {
  position: absolute;
  left: auto;
  right: auto;
  top: 200px;
  background-color: rgb(185, 205, 226);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(16, 24, 40, 0.1);
}
.uslugi .item .iconwrapper svg {
  margin-top: 20px;
}
.uslugi .item .bottom{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}
.uslugi .item h3 {
  width: 100%;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 800;
  margin-top: 30px;
  padding: 15px;
  height: 80px;
  color: var(--p);
}
.uslugi .item p {
  margin-top: 10px;
  flex: 1;
}

.uslugi .item .price,
.uslugi .item .time {
  padding: 0.5rem 1rem;
  background-color: rgb(225, 225, 225);
  border-radius: 20px;
  margin: auto;
  color: var(--accent);
}
.uslugi .item .footer1 {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}
.uslugi .item .time {
  display: flex;
  align-items: center;
  gap: 10px;
}
.uslugi .item .cta {
  padding: 1rem 2rem;
  margin: 20px 20px;
  font-size: 16px;
  font-weight: 700;
  color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--radius);
}

.uslugi .item .cta:hover {
  background-color: rgb(var(--accent-values) / 90%);
  color: var(--bg-light);
}
.uslugi .item .cta:active {
  background-color: var(--accent);
}
.uslugi .item .cta svg {
  transition-duration: 200ms;
}
.uslugi .item:hover .cta svg {
  transform: translateX(10px);
}
.uslugi a.cta2 {
  padding: 1rem 2rem;
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  border-radius: var(--radius);
  background-color: var(--bg-light);
  border: 1px solid rgb(198, 198, 198);
  color: var(--p);
  transition-duration: 200ms;
}
.uslugi a.cta2:hover{
background-color: var(--bg);
}
.uslugi a.cta2 svg {
  transition-duration: 100ms;
}
.uslugi a.cta2:hover svg {
  transform: translateX(10px);
}
@media screen and (max-width:1400px) {
  .uslugi .wrapper{
  width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .uslugi {
    max-width: 100%;
    width: 100%;
  }

  .uslugi .wrapper {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .uslugi .item {
    min-width: 250px;
  }
}

@media screen and (max-width: 1000px) {
  .uslugi .wrapper .item {
    padding: 10px;
  }
}
@media screen and (max-width: 800px) {
  .uslugi {
    width: 100%;
  }

  .uslugi .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-top: 10px;
  }
  .uslugi .wrapper .item {
    flex: 1;
    /* flex-direction: row; */
    padding: 0;
    align-items: stretch;
  }
  .uslugi .wrapper .item .top {
    margin: 0;
  }
  .uslugi .wrapper .item .top img {
    max-height: 150px;
    filter: brightness(0.5);
  }
  .uslugi .wrapper .item .iconwrapper {
  left: calc(50% - 50px);
    top: 25px;
  }
  .uslugi .wrapper .item .bottom {
    padding: 10px 20px;
  }
  .uslugi .wrapper .item h3 {
    margin-top: 15px;
    padding: 0;
    flex: 0;
    height: auto;
  }
  .uslugi .wrapper .item p {
    padding: 0;
    margin: 0;
    flex: 1;
  }

  .uslugi .wrapper .item a {
    margin: 0;
  }
}
