.tech {
  padding: 3rem 20px;
  border: var(--border-param);
  border-top: none;
  position: relative;
}
.tech h2 {
  margin-bottom: 20px;
}

.tech-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 1rem;
}
.tech-content p{
  font-size: 14px;
}
.tech-content h3 {
  text-align: left;
  color: var(--full-front);
  margin-bottom: 0px;
}
.tech-content > div {
  min-height: 14rem;
  transition-duration: 0.4s;
  padding: 1rem;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  outline-width: 0;
  outline-color: var(--bg);
}
.tech-content > div:nth-child(1) {
  border-right: var(--border-param);
}
.tech-content > div:nth-child(2) {
   border-right: var(--border-param);
}
.tech-content > div:nth-child(3) {
  border-right: var(--border-param);
}
.tech-content > div:hover {
  background-color: var(--bg-rich);
  outline: var(--border-param);
  transition-duration: 0.4s;
}
.tech-content .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech-content .right {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  gap: 0;
  font-size: 16px;
}
.tech-content .right h3{
  margin-bottom: 0;
  font-size: 16px;
  text-align: center;
}
.tech .subtitle {
  padding: 2rem 2rem;
  background-color: var(--accent);
  /* color: var(--bg-rich); */
  color: white;
  font-weight: 500;
    width: 100%;
    border-radius: 4px;
    /* box-shadow: 0px 10px 20px var(--accent); */
    position: relative;
}
.tech .subtitle::after{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  content: "";
  box-shadow: 0px 6px 35px var(--accent);
  opacity: 0.3;
}
.subtitle-hi{
  color: var(--accent3);
  font-weight: 600;
}
.tech-content .text {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 28%;
  left: -28%;
  width: 100%;
  text-align: right;
}
.tech-content .text span:nth-child(1) {
  font-size: 30px;
}
.tech-content .glow {
  animation: glow 2s ease-in-out infinite alternate;
}
.tech-content .jet {
  font-family: "Jet Brains Mono", monospace;
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 2px rgb(99, 164, 255));
  }
  to {
    filter: drop-shadow(0 0 12px rgba(0, 106, 255, 0.9));
  }
}

@media (max-width: 1000px) {
  .tech-content {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  .tech{
    border-left: none;
    border-right: none;
  }
}