:root {
  --text: #6b6375;
  --text-h: #08060d;
  --full-front: black;
  --border: #d0d0d0;
  --bg: #f2f2f2;
  --bg-rich: white;
  --bg-a: #ebebeb87;
  --border-param: 1px solid rgb(201, 201, 201);
  --code-bg: #e5e5e5;
  --accent: #aa3bff;
  --accent2: #1061a8;
  --accent3: #5954e3;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
--ifilter: invert(1);
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --footer-bg:#6b6375;
  --footer-text: white;

  /* font: 18px/145% var(--sans); */
  font-family: "Mozilla Text", sans-serif;
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
@font-face {
  font-family: "Jet Brains Mono";
  src: url("/fonts/JetBrainsMono-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mozilla Text";
  src: url("/fonts/MozillaText-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mozilla Text";
  src: url("/fonts/MozillaText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mozilla Text";
  src: url("/fonts/MozillaText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mozilla Text";
  src: url("/fonts/MozillaText-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mozilla Text";
  src: url("/fonts/MozillaText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #dad5e0;
    --text-h: #ffffff;
    --full-front: rgb(255, 255, 255);
    --border: #4b4b4b;
    --bg: #292c2f;
    --bg-rich: rgb(0, 0, 0);
    --bg-a: #292c2f61;
    --border-param: 1px solid #4b4b4b;
    --code-bg: #6d6d6d;
    --accent: #aa3bff;
    --accent2: #36a1fe;
    --accent3: #5954e3;
    --accent-bg: rgba(170, 59, 255, 0.1);
    --accent-border: rgba(170, 59, 255, 0.5);
    --social-bg: rgba(244, 243, 236, 0.5);
   --ifilter: invert(0);
     --shadow:
    rgba(255, 255, 255, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

    --footer-bg:#3e3e3e;
    --footer-text:white;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}
a button a:visited {
  color: var(--text);
}
#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}
.page {
  max-width: 1000px;
  margin: 0 auto;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  padding-bottom: 4rem;
}
.page::selection {
  background-color: #cf8fff;
}
@media (max-width: 800px) {
  .page {
    width: 100%;
  }
}
body {
  margin: 0;
  color: var(--text);
  font-family: "Mozilla Text", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 2rem;
  color: var(--text);
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;
}
h2 {
  font-size: 1.5rem;
  /* line-height: 118%; */
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 1.5rem;
  }
}
h3 {
  color: var(--text-h);
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.border1 {
  outline: var(--border-param);
}
.container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  /* border: var(--border-param); */
}

.t-accent1 {
  color: var(--full-front);
  font-weight: 600;
}
.t-accent2 {
  color: var(--accent2);
}
.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease;
}
