@font-face {
  font-family: "Aleo";
  src: url("/fonts/Aleo/Aleo-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aleo";
  src: url("/fonts/Aleo/Aleo-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aleo";
  src: url("/fonts/Aleo/Aleo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aleo";
  src: url("/fonts/Aleo/Aleo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aleo";
  src: url("/fonts/Aleo/Aleo-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aleo";
  src: url("/fonts/Aleo/Aleo-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aleo";
  src: url("/fonts/Aleo/Aleo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aleo";
  src: url("/fonts/Aleo/Aleo-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aleo";
  src: url("/fonts/Aleo/Aleo-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ElmsSans";
  src: url("/fonts/ElmsSans/ElmsSans-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ElmsSans";
  src: url("/fonts/ElmsSans/ElmsSans-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ElmsSans";
  src: url("/fonts/ElmsSans/ElmsSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ElmsSans";
  src: url("/fonts/ElmsSans/ElmsSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ElmsSans";
  src: url("/fonts/ElmsSans/ElmsSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ElmsSans";
  src: url("/fonts/ElmsSans/ElmsSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ElmsSans";
  src: url("/fonts/ElmsSans/ElmsSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ElmsSans";
  src: url("/fonts/ElmsSans/ElmsSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ElmsSans";
  src: url("/fonts/ElmsSans/ElmsSans-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.ex2 {
   font-family: "ElmsSans";
  border: none;
  background: none;
  background-image: none;
  outline: none;
  background-color: var(--bg-light);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 
  --radius: 5px;
  --accent: #60775e;
  --bg-dark: rgb(19, 19, 19);
  --bg: #e3e9e2;
  --bg-light: rgb(241, 241, 241);
  --p: black;
  --p-light: rgb(236, 236, 236);
  --p-light2: rgb(172, 172, 172);

}
.ex2  h2 {
  font-size: 28px;
  font-weight: 600;
  font-family: "Aleo";
  z-index: 5;
}
.ex2 h1 {
  font-family: "Aleo";
}
.ex2 p {
  font-size: 16px;
  color: rgb(45, 45, 45);
}
.ex2 h1,
.ex2 h2,
.ex2 h3,
.ex2 h4 {
  color: black;
}
.accent_icon {
  color: var(--accent);
}
.white_icon {
  color: white;
}
.header_holder {
  position: sticky;
  width: 100%;
  /* height: 120px; */
  z-index: 100;
  top: 0;
  margin-top: 20px;
  /* background-color: var; */
}
.header {
  width: 100%;
  max-width: 100%;
  height: 85px;
  background-color: var(--bg-light);
  background-image: none;
  color: var(--p);
  font-size: 16px;
  font-weight: 600;
}
.header a,
.header a:link,
head a:visited {
  color: inherit;
  text-decoration: inherit;
}
.header .content {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .left {
  /* display: none; */
}
.header .mid {
  /* flex: 1; */
  margin: auto;
}
.header .right {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 1rem;
  background-color: var(--accent);
  border-radius: var(--radius);
  padding: 0.7rem 2rem;
}
.header .right p {
  margin: 0;
}
.header .right .phone {
  font-weight: 500;
  font-size: 18px;
  color: var(--p-light);
  
}
.header .right strong{
}
.header .right .cta {
  font-weight: 700;
  color: var(--p-light);

  font-size: 16px;
}
.header nav ul {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 2rem;
}
.header nav ul li {
  list-style: none;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  transition-duration: 100ms;
}
.header nav ul li:hover {
  color: var(--p-light2);
}

.header nav ul li.active{
 color: var(--accent);
}
/* -----------------HERO------------------ */

.hero {
  position: relative;
  width: 100%;
  /* height: 550px; */

  /* border-bottom: 7px solid var(--accent); */
  background-color: var(--bg);
  padding-top: 50px;

  /* background:
    linear-gradient(90deg, rgba(19, 19, 19, 1) 27%, rgba(19, 19, 19, 0) 100%),
    url("/images/demo/warsztat_hero.webp"); */
  background-position: right;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;

}

.hero .content {
  max-width: 1400px;
  padding: 2rem;
  padding-bottom: 0;
  text-align: left;
  margin: auto;
  z-index: 5;
  position: relative;
}
.hero .trans {
width: 100%;
  color: var(--bg);
  bottom: -100px;
  z-index: 0;
  position: absolute;
  left: 0;
}
.hero .trans svg {
  width: 100%;
  display: block;
  height: auto;
}
.hero h1 {
  color: var(--p);
  font-size: 50px;
  max-width: 570px;
  font-weight: 400;
  margin-top: 0;
}
.hero p {
  color: var(--p);
  max-width: 500px;
 
}
.hero ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.hero ul li{
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--p);
  margin-bottom: 10px;
}
.hero ul li .icon{
color: var(--accent);
transform: rotate(20deg);
}
.hero .cta_list {
  display: flex;
  justify-content: left;
  gap: 2rem;
  margin-top: 40px;
}
.hero .cta_list > * {
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 16px;
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  transition-duration: 200ms;
  margin-bottom: 40px;
}
.hero .cta_call {
  border: 2px solid var(--accent);
  color: var(--p);
  background: none;
}
.hero .cta_reserve {
  background-color: var(--accent);
  color: var(--p-light);
  border: none;
}
.hero .cta_call:hover {
  box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.807);
}
.hero .cta_reserve:hover {
  /* border-width: 4px;
  box-sizing: content-box; */
  box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.261);
}
.hero .post_cta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  margin-top: 10px;
  color: var(--p-light2);
}
.hero .features {
  display: flex;
  gap: 2rem;
  margin-top: 20px;
}
.hero .feature {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.hero .feature p {
  max-width: 100px;
  font-size: 18px;
  color: var(--p-light);
}
/* -----------------PAIN----------------- */
.pain{
  width: 1000px;
  max-width: 1000px;
  margin-top: 100px;
}
.pain .subtitle{
  display: flex;
  justify-content: center;
  gap: 1rem;
align-items: center;
}
.pain .subtitle .line{
  width: 100px;
  height: 2px;
  background-color: var(--accent);
  content: "";
}
/* -----------------USLUGI----------------- */
.uslugi {
  width: 1000px;
  max-width: 1000px;
  padding: 2rem;
  /* height: 600px; */
}
.uslugi h2 {
  position: relative;
}
.uslugi h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;

  width: 80px;
  height: 2px;
  background: var(--accent);

  transform: translateX(-50%);
}
.uslugi .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
   

  margin-top: 40px;
  gap: 1rem;
  /* grid-template-columns: repeat(5, 1fr); */
}
.uslugi .item:nth-child(3){
    grid-column-start: 1;
    grid-row-start: 2;
}
.uslugi .item:nth-child(4){
    grid-column-start: 2;
    grid-row-start: 2;
}
.uslugi .item:nth-child(4){
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
}

.uslugi .item {
  display: flex;
  flex-direction: column;
  /* width: 250px; */
  align-items: center;
  background-color: white;
  border-radius: var(--radius);
  border: 1px solid rgb(233, 233, 233);
  padding: 2rem 2rem 1rem 2rem;
  /* flex-grow: 1; */
}
.uslugi .item h3 {
  text-align: center;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 800;
}
.uslugi .item p {
  margin-top: 10px;
  flex: 1;
}
.uslugi .item svg {
  height: 100px;
}
.uslugi .item .price {
  padding: 0.5rem 1rem;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  margin: auto;
  color: var(--accent);
}
/* ---------------ABOUT------------------ */
.about {
  background-color: var(--bg-light);
  width: 1200px;
  max-width: 1200px;
  border-radius: var(--radius);
  opacity: 0;
  transition-duration: 600ms;
  transform: translateY(100px);
}

.about .content {
  display: grid;
  padding: 2rem 4rem;
  grid-template-columns: 1fr 1px 1.5fr;
  color: var(--p-light);
  gap: 2rem;
}
.about.visible {
  opacity: 1;
  transform: translateY(0);
}
.about .divider {
  height: 60%;
  content: "";
  border-left: 1px solid rgb(123, 123, 123);
  margin: auto;
}
.about .left {
  color: var(--p-light);
}
.about .right {
  display: flex;
  justify-content: space-between;
}
.about iframe {
  border: none;
}
.about .right a.maps_btn {
  color: var(--accent);
  font-weight: 600;
  text-decoration: underline;
  text-align: left;
  margin-bottom: 5px;
  display: flex;
  gap: 1rem;
  justify-content: baseline;
  align-items: center;
  cursor: pointer;
}
.about h2 {
  color: var(--p-light);
  margin-bottom: 20px;
  text-align: left;
}
.about ul {
  padding: 0;
  opacity: 0;
  transition-delay: 200ms;
  transition-duration: 400ms;
  transform: translateX(50px);
}
.about.visible ul {
  opacity: 1;
  transform: translateX(0px);
}
.about ul li {
  list-style: none;
  text-align: left;
  margin-bottom: 5px;
  display: flex;
  gap: 1rem;
  justify-content: baseline;
  align-items: center;
}
/* ---------------GALERY------------------ */
.galery {
  width: 100%;
  background-color: var(--bg-dark);
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin-top: 2rem;
  color: var(--p-light);
}
.galery h2 {
  color: var(--p-light);
  position: relative;
  margin-bottom: 60px;
}
.galery h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;

  width: 80px;
  height: 2px;
  background: var(--accent);

  transform: translateX(-50%);
}
.galery h3 {
  color: var(--p-light);
}
.galery .content {
  max-width: 1200px;
  display: flex;
  justify-content: left;
  gap: 1rem;
  margin: auto;
  overflow-x: auto;
  text-align: left;
  margin-bottom: 40px;
  overflow-y: hidden;
}
.galery .item {
  border-radius: var(--radius);
  border: 1px solid rgb(47, 47, 47);
  background-color: rgb(30, 30, 30);
  width: 400px;
  min-width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(40px);
  transition-duration: 400ms;
}
.galery.visible .item:nth-child(2) {
  transition-delay: 200ms;
}
.galery.visible .item:nth-child(3) {
  transition-delay: 400ms;
}
.galery.visible .item {
  opacity: 1;
  transform: translateY(0);
}

.galery .item h3 {
  font-size: 18px;
  text-align: left;
  padding-left: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.galery .item p {
  color: var(--p-light2);
  text-align: left;
  margin: 1rem;
  margin-top: 0;
  flex: 1;
}
.galery .item .pic {
  width: 100%;
  height: 200px;
  background-color: rgb(75, 75, 75);
  overflow: hidden;
}
.galery .item .pic img {
  object-fit: scale-down;
  margin-top: -50px;
  transition-duration: 400ms;
}
.galery .item:hover .pic img {
  transform: scale(1.1);
}
.galery .item .delivery_time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
}
.galery .cta {
  padding: 1rem 2rem;
  color: var(--p-light);
  border: 2px solid var(--p-light2);
  border-radius: var(--radius);
  cursor: pointer;
}

/* ---------------TEAM------------------ */
.team {
  width: 1100px;
  max-width: 1100px;
  padding: 2rem;
  transition-duration: 600ms;
  transform: translateY(100px);
  opacity: 0;
}
.team.visible {
  opacity: 1;
  transform: translateY(0);
}
.team h2 {
  color: black;
  position: relative;
  margin-bottom: 20px;
}
.team h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;

  width: 80px;
  height: 2px;
  background: var(--accent);

  transform: translateX(-50%);
}
.team > p {
  color: rgb(83, 83, 83);
  font-weight: 500;
  margin-bottom: 30px;
}
.team .content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  margin: auto;
}
.team .content .item {
  width: auto;
  height: auto;
  border-radius: var(--radius);
  background-color: white;
  border: 1px solid rgb(196, 196, 196);
  /* max-width: 400px; */
  overflow: hidden;
  flex: 1;
}
.team .content .item .pic {
  max-height: 250px;
  max-width: 400px;
  overflow: hidden;
}
.team .content .item h3 {
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
  margin-bottom: 0;
  color: var(--bg-dark);
}
.team .content .item .position {
  color: var(--accent);
  font-size: 14px;
  margin-top: 0px;
  font-weight: 700;
  margin-bottom: 0;
}
.team .item ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 15px 20px;
}
.team .item li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: var(--bg-dark);
}

/* ---------------OPINION------------------ */
.opinion {
  width: 1200px;
  max-width: 1200px;
  border-radius: var(--radius);
  background-color: var(--bg-dark);
  padding: 2rem;
}
.opinion h2 {
  color: var(--p-light);
  position: relative;
}
.opinion h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;

  width: 80px;
  height: 2px;
  background: var(--accent);

  transform: translateX(-50%);
}
.opinion > p {
  color: var(--p-light2);
  text-align: center;
  max-width: 500px;
  margin: auto;
  margin-top: 25px;
}
.opinion .top {
  display: flex;
  justify-content: left;
  text-align: left;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}
.opinion .top .left h3 {
  color: var(--p-light);
  font-size: 30px;
  margin: 0;
}
.opinion .top .left h3 strong {
  font-size: 40px;
}
.opinion .top .left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2rem;
  color: var(--p-light);
}
.opinion .top p {
  color: var(--p-light2);
  margin: 0;
}
.opinion .top .left .stars {
  display: flex;
  gap: 0.5rem;
}
.opinion .top .vert {
  content: "";
  height: 100px;
  width: 1px;
  background-color: rgb(47, 47, 47);
}
.opinion .top .mid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: baseline;
}
.opinion .top .mid .google {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.opinion .top .mid strong {
  color: var(--p-light);
  margin: 0 1rem;
}
.opinion .top .mid a {
  color: var(--accent);
  text-decoration: underline;
  cursor: pointer;
}
.opinion .content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
.opinion .item {
  padding: 1rem;
  border-radius: var(--radius);
  border: 1px solid rgb(47, 47, 47);
  background-color: rgb(30, 30, 30);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.opinion .item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.opinion .item .head .pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--accent);
}
.opinion .item .head .name {
  flex: 1;
  color: var(--p-light);
  text-align: left;
  font-size: 20px;
}
.opinion .item .head .stars {
  display: flex;
  gap: 3px;
  margin-top: 10px;
}
.opinion .item .head .quote {
  color: rgb(47, 47, 47);
}
.opinion .item > p {
  color: var(--p-light);
  text-align: left;
  flex: 1;
  line-height: 30px;
}
.opinion .item .foot {
  display: flex;
  justify-content: space-between;
  color: var(--p-light2);
}
.opinion .item .foot > span {
  display: flex;
  align-items: center;
  gap: 8px;
}
.opinion .item .foot > strong {
  font-weight: 600;
  font-size: 14px;
}
/* ---------------FAQ------------------ */
.faq h2 {
  position: relative;
}
.faq h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;

  width: 80px;
  height: 2px;
  background: var(--accent);

  transform: translateX(-50%);
}
.faq {
  margin: 2rem auto;
  padding: 1rem;
}
.faq > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  margin: auto;
  width: 1000px;
  max-width: 1000px;

  margin-top: 30px;
}
.faq .faq_item:hover {
  background-color: rgb(217, 217, 217);
}
.faq .faq_item {
  text-align: left;
  flex: 1;
  padding: 0.5rem 2rem;
  border-top: 1px solid gray;
}
.faq .faq_item:nth-child(1),
.faq .faq_item:nth-child(2) {
  border: none;
}
.faq .faq_item .title p {
  color: var(--bg-dark);
  font-weight: 600;
}
.faq .faq_item .title {
  text-align: left;
  margin: 0;
  width: 100%;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}
.faq .faq_item svg {
  transform: scaleY(-1);
  transition-duration: 200ms;
}
.faq .faq_item.opened svg {
  transform: scaleY(1);
}
.faq .faq_item .content p {
  margin: 0;
  margin-bottom: 1rem;
}
.faq .faq_item .content {
  max-height: 0px;
  /* display: none; */
  overflow: hidden;
  transition-duration: 500ms;
  /* margin-left: 0.5rem; */
}
.faq .faq_item.opened .content {
  max-height: 200px;
}
/* ---------------CONTACT------------------ */

.contact {
  max-width: 1000px;
  width: 1000px;
  /* padding: 2rem; */
  position: relative;
  margin-bottom: 4rem;
}
.contact h2 {
  z-index: 5;
  position: relative;
  line-height: 60px;
  padding: 0 2rem;
  background-color: var(--p-light);
  display: inline-block;
}
.contact .line {
  position: absolute;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  height: 60px;
  z-index: 0;
  background: repeating-linear-gradient(
    -45deg,
    var(--p-light) 0 20px,
    #d7d7d7 20px 40px
  );
}
.contact .line2 {
  width: 100%;
  content: "";
  height: 60px;
  z-index: 0;
  background: repeating-linear-gradient(
    -45deg,
    var(--p-light) 0 20px,
    #d7d7d7 20px 40px
  );
  margin-top: 20px;
}
.contact form {
  margin-bottom: 100px;
}
.contact .top {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
  margin-top: 2rem;
}
.contact input[type="submit"] {
  float: right;
  padding: 1.5rem 3rem;
  color: var(--p-light);
  background-color: var(--accent);
  border-radius: var(--radius);
  border: none;
  font-size: 16px;
}
.contact .left {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}
.contact .field {
  border: 2px solid rgb(148, 148, 148);
  border-radius: var(--radius);
  padding: 12px;
  position: relative;
  border-bottom-color: var(--accent);
  color: var(--bg-dark);
}

.contact .field legend {
  padding: 0 8px;
  text-align: left;
  font-weight: 600;
}

.contact .field input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  text-align: center;
  background: none;
}
.contact .right {
  position: relative;
}
.contact .right .textarea_label {
  position: absolute;
  font-weight: 600;
  color: var(--bg-dark);
  padding: 0 10px;
  top: -15px;
  left: 15px;
  background-color: var(--p-light);
}
.contact textarea {
  margin-top: 10px;
  width: 100%;
  border-radius: var(--radius);
  background: none;
  border: 2px solid rgb(148, 148, 148);
  padding: 1rem;
  font-size: 18px;
  border-bottom-color: var(--accent);
  font-family: "lato";
}
.contact .example {
  color: gray;
  text-align: left;
}
/* ---------------FOOTER------------------ */

.footer {
  border-top: 5px solid var(--accent);
  padding: 2rem;
  background-color: var(--bg-dark);
  width: 100%;
  padding-bottom: 5rem;
}
.footer .content {
  max-width: 1200px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: auto;
  color: var(--p-light2);
}
.footer .desc {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 250px;

  gap: 1rem;
}
.footer p {
  text-align: left;
  color: var(--p-light);
  margin: 0;
}
.footer .media {
  display: flex;
  justify-content: left;
  gap: 1rem;
}
.footer .media > a {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid rgb(88, 88, 88);
  cursor: pointer;
}
.footer .media > a:hover {
  color: var(--bg-dark);
  background-color: var(--p-light2);
}
.footer .media > a > svg {
  margin: auto;
  margin-top: 10px;
}
.footer h3 {
  color: var(--p-light);
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer li {
  list-style: none;
  text-align: left;
  margin-bottom: 12px;
  color: var(--p-light);
  font-size: 16px;
}
.footer li a {
  cursor: pointer;
}
.footer li a:hover {
  color: gray;
}
.footer ul {
  padding: 0;
}
.footer .vert {
  width: 1px;
  content: "";
  height: 150px;
  margin-top: 2rem;
  border-left: 1px solid gray;
}
.footer .contact_ li {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 200px;
}
.footer .contact_ svg {
  min-width: 24px;
  height: 24px;
}

@media screen and (max-width: 1200px) {
  .header .mid {
    display: none;
  }
  .ex1 {
    padding: 0;
  }
  .hero {
    padding: 0rem;
    height: auto;
  }
  .hero .content {
    padding: 1rem;
    padding-top: 120px;
  }

  .hero .feature {
    flex-direction: column;
    gap: 0;
    text-align: center;
  }
  .hero .feature svg {
    height: 40px;
    margin: 0;
  }
  .hero .feature p {
    margin: 10px;
  }

  .uslugi {
    width: 100%;
    padding: 1rem 0;
  }
  .uslugi .wrapper {
    overflow-x: auto;
    margin-top: 20px;
    width: 100%;
  }
  .uslugi .wrapper {
    gap: 0.5rem;
  }
  .uslugi .item:first-child {
    margin-left: 1rem;
  }
  .uslugi .item:last-child {
    margin-right: 1rem;
  }
  .uslugi .item {
    padding: 1rem;
    width: 500px;
  }
  .uslugi .item svg {
    height: 60px;
  }

  .about {
    width: 100%;
    display: block;
    border-radius: 0;
    padding-top: 1rem;
  }
  .about .content {
    display: block;
    padding: 1rem;
  }
  .about h2 {
    text-align: center;
  }
  .about .right {
    flex-direction: column;
  }

  .galery .item:first-child {
    margin-left: 1rem;
  }
  .galery .item:last-child {
    margin-right: 1rem;
  }
  .galery h2 {
    margin-bottom: 2rem;
  }

  .team {
    width: 100%;
  }

  .opinion {
    width: 100%;
    padding: 1rem 0;
    border-radius: 0;
  }
  .opinion .content {
    overflow-x: auto;
  }
  .opinion .top {
    flex-direction: column;
    /* align-items: baseline; */
  }
  .opinion .vert {
    display: none;
  }
  .opinion .top .left .stars {
    gap: 0;
  }
  .opinion .top .mid strong {
    gap: 0;
  }
  .opinion .top .left {
    margin: 0;
    align-items: center;
  }
  .opinion .top .mid {
    align-items: center;
    gap: 10px;
  }
  .opinion .content .item:nth-child(1) {
    margin-left: 1rem;
  }
  .opinion .contact .item:last-child {
    margin-right: 1rem;
  }
  .faq {
    width: 100%;
    padding: 1rem;
  }
  .faq > div {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .faq .faq_item:nth-child(2) {
    border-top: 1px solid gray;
  }
  .contact {
    width: 100%;
  }
  .contact .top {
    grid-template-columns: 1fr;
    padding: 1rem;
    margin-top: 0;
  }
  .contact input[type="submit"] {
    margin-right: 1rem;
  }
  .footer {
    width: 100%;
  }
  .footer .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 100%;
  }
  .footer .vert {
    display: none;
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 800px) {
  .hero .features {
    gap: 0;
    justify-content: space-between;
  }
  .hero .cta_list {
    flex-direction: column;
    gap: 10px;
  }
  .team .content {
    flex-direction: column;
    width: 100%;
  }
  .footer .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer .desc {
    align-items: center;
    margin: auto;
  }
}
